<!doctype html>
<html lang="en">
  <head>
    <meta charset="uft-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gráfica del corazón</title>
    <link rel="shortcut icon" href="{{url_for('static', filename = 'icons.ico')}}">
    <link  rel="stylesheet" type = "text/css" href="{{url_for('static', filename = 'chartist.min.css')}}">
    <script type = "text/javascript" src="{{url_for('static', filename = 'chartist.min.js')}}"></script>

  </head>
	<body class="text-center">
<div class="ct-chart ct-perfect-fourth"></div>
<script>
      var latidos = {{ datos|tojson }};
</script>
<script>
var data = {
  // A labels array that can contain any sort of values
  labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
  // Our series array that contains series objects or in this case series data arrays
  series: [
    latidos
  ]
};

// As options we currently only set a static size of 300x200 px
var options = {
  width: '800px',
  height: '600px'
};

// In the global name space Chartist we call the Line function to initialize a line chart. As a first parameter we pass in a selector where we would like to get our chart created. Second parameter is the actual data object and as a third parameter we pass in our options
new Chartist.Line('.ct-chart', data, options);
</script>
</body>
</html>
