{% extends 'layout.html' %}

{% block body %}
    <link  rel="stylesheet" type = "text/css" href="{{url_for('static', filename = 'chartist.min.css')}}">
    <script type = "text/javascript" src="{{url_for('static', filename = 'chartist.min.js')}}"></script>
    <link  rel="stylesheet" href="{{url_for('static', filename = 'graph.css')}}">

<META http-equiv="Refresh" content="5;url=/graph">

<div class="grafica">
<div class="ct-chart ct-perfect-fourth">
<script>
      var latidos = {{ datos|tojson }};
      var ejex  = {{eje|tojson}};
</script>
<script>
var data = {
  // A labels array that can contain any sort of values
  labels: ejex,
  // Our series array that contains series objects or in this case series data arrays
  series: [
    latidos
  ]
};

// As options we currently only set a static size of 300x200 px
var options = {
  showPoint: false,
  borderWidth: '1px',
  axisX: {
    showGrid: false,
    showLabel: false
  },
width: '100%',
 height: '100%'
};

// In the global name space Chartist we call the Line function to initialize a line chart. As a first parameter we pass in a selector where we would like to get our chart created. Second parameter is the actual data object and as a third parameter we pass in our options
new Chartist.Line('.ct-chart', data, options);
</script>
</div>
</div>

<button class="refresh-button" type="submit" onclick="javascript:window.location.reload();">Refrescar</button>

<script type="text/javascript">
function reFresh()
}
</script>

<div class="bpm">
  <h3>Latidos por minuto: {{ bpm }}</h3>
</div>

{% endblock %}
