<!doctype html>
<html lang="en">
  <head>
    <meta charset="uft-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Health Heartz</title>
    <!--link  rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link  rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
    < Custom styles for this template -->
    <link  rel="stylesheet" type = "text/css" href="{{url_for('static', filename = 'signin.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename = 'icons.ico')}}">
    <link  rel="stylesheet" type = "text/js" href="{{url_for('static', filename = 'canvasjs.min.js')}}">
    <!--link  rel="stylesheet" type = "text/js" href="{{url_for('static', filename = 'chartist.min.js')}}">
    <link  rel="stylesheet" type = "text/css" href="{{url_for('static', filename = 'chartist.min.css')}}"-->

  </head>
  <body class="text-center">
    {% block body%} {% endblock %}
  </body>
</html>
